<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328771947406-3vqb8o58ljmfiairef2ve3mp3uvmlh50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328771947406-3vqb8o58ljmfiairef2ve3mp3uvmlh50</string>
	<key>API_KEY</key>
	<string>AIzaSyCVIAzO2kxza9RVRLNDbYUm4c5UsMgjHWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>328771947406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.company.com.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-5f333</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-5f333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328771947406:ios:57f11be1e1a3e0938172df</string>
</dict>
</plist>